//General
@import "./general/typography.scss";

//Layout
@import "./layout/header.scss";
@import "./layout/footer.scss";


/* Estilos Generales */
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}



.body_style {
    background-color: black;
    color: white;
    font-size: 16px;
    width: 100%;height: 100%;
}
.margen{
    margin: 30px 15px; /* Margen entre el contenido y los elementos que esten por fuera */
}

.w3-border {
    border: 1px solid #ccc!important;
}
.w3-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.w3-button {
    border: 1px;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
/* Fin - Estilos Generales */


/* Grid */
body{
    width: 100%;height: 100%;
}

header{
    grid-area: header;
    height: 100%;
}

main{
    grid-area: main;
    max-height: 100%;
}

footer{
    grid-area: footer;
}

.containerCustom {
    
    display: grid;
    grid-template-columns: 100%;
    min-height: 100%;
    grid-template-areas:
     "header header"
     "main main"
     "footer footer";
     grid-template-rows: auto 1fr auto;
    }

.container-fluid {
    
    display: grid;
    grid-template-columns: 100%;
    min-height: 100%;
    grid-template-areas:
     "header header"
     "main main"
     "footer footer";
     grid-template-rows: auto 1fr auto;
    }

/* Fin Grid */



/* Estilo Main */
.mainContainerIndex{
    font-family: $font-family;
    font-size: 18px;
    background-color: black;
    padding:10px; /* Espacio entre el contenedor y el contenido*/     
    min-height:650px;
    max-height: 100%;
    /* justify-content: center; */
    align-items: center;

    display: flex;
    flex-direction:column;

    img{
        align-self: center;
        vertical-align:middle;
        border-style: none;
    
    }
}




.mainContainerProducto{  /* CSS - Página Galeria */
    height:auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}


.mainContainerProducto__tarjeta{
    border: 1px solid whitesmoke;  /* Borde para la tarjeta */
    border-radius: 8px; /* Borde redondeado*/   
    padding:20px;
    width: 300px;

    img{
        width: 100%;
        border-radius: 8px;
        
    }
}



/* CSS - Página Galeria */


/* Fin - Estilo Main */




/* Media query - Mobile */
@media screen and (max-width:575px){
    .mainContainerIndex{
        font-size: 14px;
       img{
            width: 300px;
       }
    }
    
    .footerContainer__logos svg{
        width: 20px;
        height: 20px;
    }

    .headerContainer__navigation{
        font-size: 14px;
    }
    


    .footerContainer__Condiciones{
        font-size: 14px;
    }
} 

/* Media query - Tablet */
@media screen and (min-width: 576px) and (max-width:768px){

    .mainContainerIndex{
        font-size: 16px;
        img{
            width: 500px;
        }
    }
    .footerContainer__logos svg{
        width: 25px;
        height: 25px;
    } 
    
    .headerContainer__navigation{
        font-size: 18px;
    }
    
   

    .footerContainer__Condiciones{
        font-size: 14px;
    }
} 

/* Media query - Pantallas */
@media screen and (min-width: 769px) and (max-width:992px){

    .mainContainerIndex{
        font-size: 18px;
        
        img{
            width: 600px;
        }
    }


    .footerContainer__logos svg{
        width: 30px;
        height: 30px;
    }
    
    .headerContainer__navigation{
        font-size: 20px;
    }
    
   
    .footerContainer__Condiciones{
        font-size: 16px;
    }
} 
